#banner h2 {
    @include blind;
}

.banner__inner {
    @include flex_sb;
    padding: 60px 0;
    @include border_bottom;

    .img {
        width: 30%;
        border-radius: 50%;
        overflow: hidden;
        filter: grayscale(1);
        transition: all 0.3s;
        // border-bottom: 2px solid $black;

    }
    .desc {
        width: 65%;
        font-size: 1.7rem;
        font-weight: 300;
        line-height: 1.5;
        word-break: keep-all;
    }

    &:hover .img {
        filter: grayscale(0);
    }
    &:hover .desc em {
        color: $font-emMAX;
    }
    &:hover .desc em::before {
        width: 100%;
    }

    em {
        color: $font-em;
        position: relative;
        transition: color 0.3s;

        &::before {
            content: '';
            width: 0%;
            height: 100%;
            background: $font-bgem;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: -1;
            transition: all 0.3s;
        }
    }

} 

// 배너 스타일 2 - 회원가입
.banner__inner2 {
    padding: 60px 0;
    @include border_bottom;
    text-align: center;

    .img {
        width: 25%;
        margin: 0 auto;
        overflow: hidden;
        filter: grayscale(1);
        transition: all 0.3s;
        // border-bottom: 2px solid $black;
        margin-bottom: 2rem;

    }
    .desc {
        width: 100%;
        font-size: 1.3rem;
        font-weight: 300;
        line-height: 1.5;
        word-break: keep-all;

        padding-bottom: 20px;
    }

    &:hover .img {
        filter: grayscale(0);
    }
    &:hover .desc em {
        color: $font-emMAX;
    }
    &:hover .desc em::before {
        width: 100%;
    }

    .alert {
        margin-top: 10px;
        background: $black;
        color: $white;
        padding: 10px;
        display: inline-block;

        a {
            color: $white;
            text-decoration: underline;
        }
    }

    em {
        color: $font-em;
        position: relative;
        transition: color 0.3s;

        &::before {
            content: '';
            width: 0%;
            height: 100%;
            background: $font-bgem;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: -1;
            transition: all 0.3s;
        }
    }

    
} 