#blogWrite {
    text-align: center;
    padding: 100px 0;

    h2 {
        margin-bottom: 60px;
    }
}

.write__inner {
    text-align: left;
    padding-bottom: 50px;
    @include border_bottom;

    legend {
        @include ir;
    }
    label {
        display: block;
        margin-top: 20px;
        margin-bottom: 5px;
    }
    #blogCate {
        width: 20%;
        padding: 10px;
        background: #fff;
        border: 0;
        border-radius: 5px;
        font-size: 18px;
    }
    #blogTitle {
        width: 100%;
        @include input_style1;
        margin-top: 10px;
        // font-size: 18px;
        border: 0;
    }
    #blogContents {
        width: 100%;
        height: 400px;
        resize: none;
        background: #fff;
        border: 0;
        border-radius: 5px;
        padding: 20px;
        font-size: 18px;
        box-sizing: border-box;
    }
    #blogFile {
        width: 100%;
        background: #fff;
        border: 0;
        padding: 20px;
        border-radius: 5px;
        box-sizing: border-box;
    }
    button {
        @include btn_style1;
        float: right;
        margin-top: 20px;
    }
}

.blog__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

// blog__View
.blog__title{
    padding: 70px 0;
    text-align: center;
    background-size: cover;
    background-position: center;
    color: #fff;
    margin: 50px 0;
    z-index: 10;
    position: relative;

    &::before{
        content: '';
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.3);
        backdrop-filter: blur(10px);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}
.blog__title__cate{
    background: #fff;
    color: #000;
    font-size: 14px;
    margin-bottom: 20px;
    padding: 5px 20px;
    border-radius: 30px;
}
.blog__title__h1{
    font-size: 34px;
    margin: 20px 0;
    padding: 0 20px;
    word-break: keep-all;
}

.blog__title__info{

    .author {}
    .date {}
    .modify {}
    .delete{}
    a{
        color: #fff;
        font-size: 14px;
        padding-top: 10px;
        display: inline-block;
        font-weight: 300;
    }

}

.blog__contents{
    width: 70%;
    // height: 1000px;
    border-right: 1px solid #000;
    padding-right: 30px;
    box-sizing: border-box
}
.blog__contents__ad{
    @include border_top;
    border-bottom: 1px solid #000;
    margin-bottom: 50px;

    > div{
        background: rgb(229, 229, 236);
        margin: 20px 0;
        height: 100px;
    }
}
.blog__contents__cont{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}
.blog__contents__comment{
    margin-top: 100px;
    border-top: 2px solid #000;

    h3{
        display: inline-block;
        background: #000;
        color: #fff;
        margin-bottom: 50px;
        padding: 1px 10px;
    }
}
.comment{margin-bottom: 80px;}
.comment__view{
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 10px;
}
.comment__view__img{
    width: 10%;
    img{
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
}
.comment__view__data{
    width: 20%;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    font-weight: 300;

    .name{
        display: block;
    }
    .date{
        display: block;
    }
}
.comment__view__data .name{
    display: block;
}
.comment__view__data .date{
    display: block;
}
.comment__view__msg{
    width: 68%;
    border-bottom: 1px solid #000;
    line-height: 1.4;
    padding-bottom: 5px;
}
.comment__del{
    text-align: right;
    margin-top: -5px;
    line-height: 1.4;

    a{
        font-weight: 300;
    }

    &:hover{
        text-decoration: underline;
        text-underline-position: under;
    }
}
.comment__del__del{}
.comment__del__mod{}

.comment__write {
    padding: 20px;
    background: #d4d4d4;
    // border-radius: 10px;

    label{
        @include blind;
    }
    input{
        border: 0;
        padding: 20px;
        border-radius: 50px;
    }
    button{
        border: 0;
        background: #000;
        color: #fff;
        border-radius: 30px;
        cursor: pointer;
    }
}
.comment__write__info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    > * {
        width: 32%;
        box-sizing: border-box;
    }
}
.comment__write__msg {
    input{
        width: 100%;
        box-sizing: border-box;
        margin-top: 10px;
    }
}


.blog__aside{
    width: 30%;
    padding-left: 30px;
    box-sizing: border-box;

    img{
        height: 100%;
        object-fit: cover;
    }
}
.blog__aside__intro{
    border-top: 0 !important;
    .img{
        border-radius: 10000px;
        overflow: hidden;
        margin: 0 10%;
        height: 170px;
        /* background-size: cover; */
        img{
            height: 100%;
        }
    }
    .intro{
        text-align: center;
        padding: 10px;
        line-height: 1.4;
        font-weight: 300;
    }
}
[class^='blog__aside'] h3{
        background: #303056;
        display: inline-block;
        color: #fff;
        // margin-bottom: 2px;
        padding: 5px;
    
    h3{
        // background: #000;
        // display: inline-block;
        // color: #fff;
        // margin-bottom: 2px;
        // padding: 1px 5px 2px 5px;
    }
}
[class^='blog__aside'] div{
    margin-bottom: 25px;
}
.blog__aside__cate{
    li{
        border-bottom: 1px solid #0000001a;

        a{
            padding: 10px;
            display: block;
            transition: all 0.3s;
        }
        &:hover a {
            background: #303056;
            color: #fff !important;
        }
    }
}
.blog__aside__new{
    li{
        a{
            display: block;
            padding: 10px 10px 10px 52px;
            position: relative;
            border-bottom: 1px solid #0000001c;

            span{
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(0, -50%);
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;
                background: #303056;
                background-size: cover;
                background-position: center;

                
            }
            em{
                font-weight: 300;
                overflow: hidden;
                padding: 0 10px;
                box-sizing: border-box;
                @include row2;
                line-height: 1.6;
            }
        }
    }
}
.blog__aside__pop{
    li{
        a{
            span{
                display: block;
                height: 80px;
                overflow: hidden;
                border-radius: 10px;
                img{
                    object-fit: cover;
                }
            }
            em{
                display: block;
                font-weight: 300;
                padding: 10px;
                line-height: 1.6;
            }
        }
        border-bottom: 1px solid #000;
        margin-bottom: 10px;
    }
}
.blog__aside__comment{}
.blog__aside__adt{}

.blog__relation{
    width: 100%;
}