//배경색
$bg-basic : #f4f4f7; //기본 배경색

//기본색
$black : #303056;
$white : #fff;

//폰트색 
$font-bgem : #e0e7f1;
$font-em : #94abce;
$font-emMAX : #2f54f8;

$font-basic : #222;

//폰트
$family-basic : "GmarketSans";
