@charset "UTF-8";
@font-face {
  font-family: "GmarketSans";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "GmarketSans";
  font-weight: 500;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "GmarketSans";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf") format("truetype");
  font-display: swap;
}
/* 여백 초기화 */
body,
div,
dl,
dd,
dt,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
fieldset,
form,
legend,
p,
blockquote,
th,
td,
input,
button,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

/* 시멘틱 태그 초기화 */
article,
aside,
datalist,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* 폰트 초기화 */
body,
button,
input,
select,
table,
textarea {
  color: #222;
  font-family: "GmarketSans";
}

/* 링크 초기화 */
a {
  text-decoration: none;
  color: #222;
}

/* 목록 초기화 */
li,
ol,
ul {
  list-style: none;
}

/* 폰트 스타일 초기화 */
em, address {
  font-style: normal;
}

/* 제목 초기화 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 이미지 초기화  */
img {
  width: 100%;
  vertical-align: top;
}

/* 보더 초기화 */
img, fieldset, button {
  border: 0;
}

/* 클리어 픽스 */
.clearfix {
  zoom: 1;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  line-height: 0;
}

.clearfix::after {
  clear: both;
}

/* 블라인드 효과*/
/* .blind {
    width: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    text-indent: -99999;
} */
.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* 이미지 대체(ir) */
.ir {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 초기화 */
img,
fieldset,
button {
  border: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #eee;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 10px;
  margin: 0 auto;
}

/* skip */
#skip {
  position: relative;
  z-index: 100000;
}

#skip a {
  background: #000;
  color: #fff;
  position: absolute;
  padding: 20px 40px;
  left: -400px;
  top: 5x;
}

#skip a:active,
#skip a:focus {
  left: 5px;
}

#header .header__inner {
  text-align: center;
  position: relative;
  border-bottom: 3px solid #000;
}
#header .header__inner:hover .star {
  transform: rotate(720deg);
}
#header .header__inner h1 {
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 0;
  position: relative;
}
#header .header__inner h1 a {
  background: #eee;
  padding: 0 10px;
  display: inline-block;
}
#header .header__inner h1::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
  position: absolute;
  left: 0;
  top: 30px;
  z-index: -1;
}
#header .header__inner .left {
  position: absolute;
  left: 0;
  top: 14px;
}
#header .header__inner .left .star {
  transition: transform 1s ease-out;
}
#header .header__inner .left a {
  background: #eee;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  display: inline-block;
  line-height: 34px;
}
#header .header__inner .right {
  position: absolute;
  right: 0;
  top: 21px;
}
#header .header__inner .right li {
  display: inline;
}
#header .header__inner .right li a {
  padding: 0 10px;
  background: #eee;
  border: 1px solid #000;
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 0.8rem;
}
#header .header__inner .right li a.black {
  background: #000;
  color: #fff;
}
#header .header__inner .right li.active a {
  background: #000;
  color: #fff;
}
#header .header__inner .nav {
  position: absolute;
  left: 50%;
  bottom: -0.95rem;
  transform: translate(-50%);
}
#header .header__inner .nav li {
  display: inline;
}
#header .header__inner .nav li a {
  display: inline-block;
  background: #eee;
  padding: 3px 6px;
  border: 1px solid #000;
  margin: 0 1px;
  position: relative;
}
#header .header__inner .nav li a::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  height: 0%;
  width: 100%;
  background: #000;
  transition: all 0.2s;
  z-index: -1;
}
#header .header__inner .nav li a:hover::before {
  height: 100%;
  z-index: -1;
}
#header .header__inner .nav li:hover a {
  color: #fff;
  z-index: 1;
}

#footer h2 {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.footer__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  padding-top: 10px;
  padding-bottom: 100px;
  font-weight: 300;
  font-size: 1rem;
  color: #666;
}

#banner h2 {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.banner__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  padding: 60px 0;
  border-bottom: 3px solid #000;
  position: relative;
}
.banner__inner::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: -7px;
}
.banner__inner .img {
  width: 30%;
  border-radius: 50%;
  overflow: hidden;
  filter: grayscale(1);
  transition: all 0.3s;
}
.banner__inner .desc {
  width: 65%;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 1.5;
  word-break: keep-all;
}
.banner__inner:hover .img {
  filter: grayscale(0);
}
.banner__inner:hover .desc em {
  color: #2f54f8;
}
.banner__inner:hover .desc em::before {
  width: 100%;
}
.banner__inner em {
  color: #94abce;
  position: relative;
  transition: color 0.3s;
}
.banner__inner em::before {
  content: "";
  width: 0%;
  height: 100%;
  background: #e0e7f1;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: all 0.3s;
}

.banner__inner2 {
  padding: 60px 0;
  border-bottom: 3px solid #000;
  position: relative;
  text-align: center;
}
.banner__inner2::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: -7px;
}
.banner__inner2 .img {
  width: 25%;
  margin: 0 auto;
  overflow: hidden;
  filter: grayscale(1);
  transition: all 0.3s;
  margin-bottom: 2rem;
}
.banner__inner2 .desc {
  width: 100%;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.5;
  word-break: keep-all;
  padding-bottom: 20px;
}
.banner__inner2:hover .img {
  filter: grayscale(0);
}
.banner__inner2:hover .desc em {
  color: #2f54f8;
}
.banner__inner2:hover .desc em::before {
  width: 100%;
}
.banner__inner2 .alert {
  margin-top: 10px;
  background: #000;
  color: #fff;
  padding: 10px;
  display: inline-block;
}
.banner__inner2 .alert a {
  color: #fff;
  text-decoration: underline;
}
.banner__inner2 em {
  color: #94abce;
  position: relative;
  transition: color 0.3s;
}
.banner__inner2 em::before {
  content: "";
  width: 0%;
  height: 100%;
  background: #e0e7f1;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: all 0.3s;
}

#card h2 {
  display: inline-block;
  font-size: 1rem;
  border: 1px solid #000;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  margin-top: 50px;
}

.card__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  padding-bottom: 70px;
  align-items: flex-start;
  border-bottom: 3px solid #000;
  position: relative;
}
.card__inner::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: -7px;
}
.card__inner .card {
  position: relative;
  width: 24%;
  height: 400px;
}
.card__inner .card .cate {
  position: absolute;
  left: 10px;
  top: 10px;
  background: #fff;
  font-size: 12px;
  padding: 5px 13px;
  border-radius: 30px;
}
.card__inner .card figure {
  position: relative;
  overflow: hidden;
}
.card__inner .card figure img {
  filter: saturate(0%);
  transition: all 0.3s;
}
.card__inner .card figure img:hover {
  filter: saturate(100%);
}
.card__inner .card figure .go {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #000;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  font-size: 0.8em;
  transform: translateX(100px) rotate(160deg);
  opacity: 0;
  transition: all 0.3s ease;
  background-image: url("data:image/svg+xml,%3csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.646447 8.64645C0.451184 8.84171 0.451184 9.15829 0.646447 9.35355C0.841709 9.54882 1.15829 9.54882 1.35355 9.35355L0.646447 8.64645ZM9.5 1C9.5 0.723858 9.27614 0.5 9 0.5L4.5 0.5C4.22386 0.5 4 0.723858 4 1C4 1.27614 4.22386 1.5 4.5 1.5L8.5 1.5L8.5 5.5C8.5 5.77614 8.72386 6 9 6C9.27614 6 9.5 5.77614 9.5 5.5L9.5 1ZM1.35355 9.35355L9.35355 1.35355L8.64645 0.646447L0.646447 8.64645L1.35355 9.35355Z' fill='white'/%3e%3c/svg%3e");
}
.card__inner .card figure:hover .go {
  transform: translateX(0%) rotate(0);
  opacity: 1;
}
.card__inner .card h3 {
  font-size: 1.3rem;
  line-height: 1;
  margin-top: 0.3em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card__inner .card p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
#blogSearch {
  text-align: center;
  padding: 100px 0;
  border-bottom: 3px solid #000;
  position: relative;
}
#blogSearch::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: -7px;
}
#blogSearch h2 {
  font-size: 30px;
  margin-bottom: 30px;
}
#blogSearch legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
#blogSearch input {
  border: 1px solid #eee;
  padding: 12px 30px;
  font-size: 20px;
}
#blogSearch button {
  background-color: #000;
  font-size: 20px;
  color: #fff;
  border-radius: 50px;
  padding: 10px 30px;
}

#ad h2 {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.ad__inner {
  border-bottom: 3px solid #000;
  position: relative;
  margin-top: 40px;
}
.ad__inner::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: -7px;
}
.ad__inner .ad {
  height: 120px;
  background-color: #ccc;
  margin-bottom: 40px;
}

body.fixed {
  overflow: hidden;
}

.login__popup {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5000;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: none;
}
.login__popup.open {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__inner {
  width: 500px;
  border-radius: 30px;
  background-color: #fff;
  padding: 40px;
  box-sizing: border-box;
  position: relative;
}

.login__header h3 {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: 3px solid #000;
  position: relative;
}
.login__header h3::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: -7px;
}

.login__contents {
  border-bottom: 3px solid #000;
  position: relative;
  padding-top: 10px;
  padding-bottom: 20px;
}
.login__contents::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: -7px;
}
.login__contents legend, .login__contents label {
  display: none;
}

.login__footer {
  padding: 20px 0;
}
.login__footer .btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: inherit;
}
.login__footer .btn a {
  width: 32%;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 2px;
  text-align: center;
  padding: 0.5em 1em;
  box-sizing: border-box;
}
.login__footer .desc {
  padding: 20px 0;
  line-height: 1.3;
  font-weight: 300;
}
.login__footer .btn-close {
  position: absolute;
  right: -25px;
  top: -25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000;
  background-image: url("data:image/svg+xml,%3csvg width='17' height='18' viewBox='0 0 17 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.569087 16.9239C0.235697 16.5923 0.235697 16.0548 0.569087 15.7232L15.4593 0.915408C15.7927 0.583862 16.3332 0.583861 16.6666 0.915407C17 1.24695 17 1.7845 16.6666 2.11604L1.7764 16.9239C1.44301 17.2554 0.902478 17.2554 0.569087 16.9239Z' fill='white'/%3e%3cpath d='M0.500043 1.0763C0.833434 0.744756 1.37397 0.744756 1.70736 1.0763L16.5976 15.8841C16.931 16.2157 16.931 16.7532 16.5976 17.0848C16.2642 17.4163 15.7237 17.4163 15.3903 17.0848L0.500043 2.27694C0.166653 1.94539 0.166652 1.40785 0.500043 1.0763Z' fill='white'/%3e%3c/svg%3e");
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.login__footer .btn-close span {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

.input__style {
  background-color: #f5f5f5;
  font-size: 1rem;
  padding: 1rem;
  width: 100%;
  border: 0;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 5px;
}

.input__button {
  background-color: #000;
  border-radius: 5px;
  width: 100%;
  font-size: 1.6rem;
  padding: 1rem;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}

#joinAgree {
  border-bottom: 3px solid #000;
  position: relative;
  padding: 70px 0;
}
#joinAgree::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: -7px;
}
#joinAgree h2 {
  text-align: center;
  font-size: 40px;
}

.agree__inner {
  padding: 100px 200px;
}
.agree__inner > div {
  margin-bottom: 50px;
}
.agree__inner > div h3 {
  font-size: 28px;
  margin-bottom: 10px;
}
.agree__inner > div .desc {
  background-color: #f5f5f5;
  padding: 20px;
  color: #666;
  font-weight: 300;
  line-height: 1.5;
  height: 200px;
  overflow-y: scroll;
  font-size: 1.1rem;
}
.agree__inner .btn {
  width: 400px;
  background-color: #000;
  color: #fff;
  font-size: 1.3rem;
  border-radius: 50px;
  padding: 0.7em;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  text-align: center;
}
.agree__inner .check {
  margin-top: 5px;
}

#join {
  border-bottom: 3px solid #000;
  position: relative;
  padding: 70px 0;
}
#join::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: -7px;
}
#join h2 {
  text-align: center;
  font-size: 40px;
}

.join__inner {
  padding: 100px 200px;
}
.join__inner legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.join__box > div {
  margin-bottom: 30px;
}
.join__box > div label {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}
.join__box > div input {
  border: 0;
  background-color: #f5f5f5;
  width: 100%;
  border-radius: 5px;
  padding: 20px 30px;
  font-size: 18px;
  font-weight: 300;
  box-sizing: border-box;
}
.join__box > div .msg {
  padding: 10px;
  width: 100%;
  color: red;
}

.join__btn {
  margin-top: 90px;
  display: block;
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 1rem;
  font-size: 1.3rem;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

#join.admin {
  padding: 110px 0 70px;
}

.join__box > div.overlap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.join__box > div.overlap label {
  width: 100%;
}
.join__box > div.overlap input {
  width: 78%;
}
.join__box > div.overlap .check {
  background: #000;
  color: #fff;
  padding: 13px 30px;
  display: inline-block;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
  width: 20%;
  text-align: center;
  font-size: 20px;
  line-height: 35px;
}
.join__box > div.overlap .msg {
  width: 100%;
  padding: 10px;
  color: red;
}
.join__box .list h3 {
  font-size: 20px;
  margin-bottom: 5px;
}
.join__box .list ul {
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}
.join__box .list li {
  font-size: 18px;
  line-height: 1.4;
  color: #666;
}
.join__box .list span {
  display: block;
  padding: 10px 0;
}
.join__box .list span input {
  width: auto;
}
.join__box .list span label {
  display: inline-block;
  font-size: 18px;
}

#board h2 {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.board__inner {
  border-bottom: 3px solid #000;
  position: relative;
  padding: 50px 0;
}
.board__inner::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: -7px;
}

.board__search {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  margin-bottom: 20px;
  align-items: flex-end;
}
.board__search .left em {
  color: blue;
}
.board__search .right legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
.board__search .right #searchKeyword {
  border: 1px solid #C6C6C6;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  color: #666;
  box-sizing: border-box;
}
.board__search .right #searchOption {
  border: 1px solid #C6C6C6;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  color: #666;
  box-sizing: border-box;
}
.board__search .right .searchBtn {
  border: 1px solid #c6c6c6;
  padding: 13px 30px;
  display: inline-block;
  border-radius: 5px;
  background: #fff;
  font-size: 1rem;
  box-sizing: border-box;
}
.board__search .right .btn {
  background: #000;
  color: #fff;
  padding: 13px 30px;
  display: inline-block;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}

.board__table table {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.board__table th, .board__table td {
  padding: 20px 5px;
  border-bottom: 1px solid #000;
}
.board__table th {
  background-color: #e0e0e0;
  font-weight: 500;
}
.board__table td {
  text-align: center;
}
.board__table tr:hover {
  background-color: #e0e0e0;
}

.board__pages {
  margin: 40px 0;
}
.board__pages ul {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.board__pages li a {
  border: 1px solid #d4d4d4;
  padding: 13px 10px;
  margin-right: -1px;
}
.board__pages li a.active {
  background: #000;
  color: #fff;
}
.board__pages li.active a {
  background: #000;
  color: #fff;
}

.board__view table {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.board__view th, .board__view td {
  padding: 20px;
  border-bottom: 1px solid #000;
}
.board__view th {
  background-color: #e0e0e0;
  font-weight: 500;
}
.board__view td {
  line-height: 1.5;
}
.board__view td.height {
  min-height: 500px;
  display: block;
  border-bottom: 0;
}

.board__btn {
  text-align: right;
}
.board__btn a {
  background: #000;
  color: #fff;
  padding: 13px 30px;
  display: inline-block;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
  margin-top: 20px;
}

.board__write legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
.board__write label {
  width: 100%;
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}
.board__write input {
  width: 100%;
  display: block;
  border: 0;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 20px 30px;
  font-size: 18px;
  font-weight: 300;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.board__write textarea {
  width: 100%;
  resize: none;
  border: 0;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 20px;
  font-size: 1rem;
  font-weight: 300;
  box-sizing: border-box;
}
.board__write .btn {
  background: #000;
  color: #fff;
  padding: 13px 30px;
  display: inline-block;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
  margin-top: 20px;
  float: right;
  cursor: pointer;
}

.board__title h3 {
  font-size: 46px;
  margin-bottom: 20px;
  margin-top: 40px;
}
.board__title p {
  font-size: 22px;
  margin-bottom: 80px;
  font-weight: 300;
}

.board__modify legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
.board__modify label {
  width: 100%;
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}
.board__modify input {
  width: 100%;
  display: block;
  border: 0;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 20px 30px;
  font-size: 18px;
  font-weight: 300;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.board__modify textarea {
  width: 100%;
  resize: none;
  border: 0;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 20px;
  font-size: 1rem;
  font-weight: 300;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.board__modify .btn {
  background: #000;
  color: #fff;
  padding: 13px 30px;
  display: inline-block;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
  float: right;
  cursor: pointer;
}

#blogWrite {
  text-align: center;
  padding: 100px 0;
}
#blogWrite h2 {
  margin-bottom: 60px;
}

.write__inner {
  text-align: left;
  padding-bottom: 50px;
  border-bottom: 3px solid #000;
  position: relative;
}
.write__inner::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: -7px;
}
.write__inner legend {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}
.write__inner label {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
}
.write__inner #blogCate {
  width: 20%;
  padding: 10px;
  background: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 18px;
}
.write__inner #blogTitle {
  width: 100%;
  border: 1px solid #C6C6C6;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  color: #666;
  box-sizing: border-box;
  margin-top: 10px;
  border: 0;
}
.write__inner #blogContents {
  width: 100%;
  height: 400px;
  resize: none;
  background: #fff;
  border: 0;
  border-radius: 5px;
  padding: 20px;
  font-size: 18px;
  box-sizing: border-box;
}
.write__inner #blogFile {
  width: 100%;
  background: #fff;
  border: 0;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
}
.write__inner button {
  background: #000;
  color: #fff;
  padding: 13px 30px;
  display: inline-block;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
  float: right;
  margin-top: 20px;
}

.blog__title {
  padding: 70px 0;
  text-align: center;
  background-size: cover;
  background-position: center;
  color: #fff;
  margin: 50px 0;
  z-index: 10;
}
.blog__title::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.blog__title__cate {
  background: #fff;
  color: #000;
  font-size: 14px;
  margin-bottom: 20px;
  padding: 0 20px;
  border-radius: 30px;
}

.blog__title__h1 {
  font-size: 34px;
  margin-bottom: 20px;
  padding: 0 20px;
  word-break: keep-all;
}

.blog__title__info a {
  color: #fff;
  font-size: 14px;
  padding-top: 10px;
  display: inline-block;
  font-weight: 300;
}/*# sourceMappingURL=style.css.map */