@import url('https://webfontworld.github.io/NexonLv1Gothic/NexonLv1Gothic.css');


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #222;
    color: #fff;
    font-family: 'NexonLv1Gothic';
    font-weight: 300;
}

img {
    width: 100%;
    vertical-align: top;
}

a{
    color: #fff;
    text-decoration: none;
}

li {
    list-style: none;
}

/* layout */
#header{
    z-index: 2000;
}
#main{
    width: 100%;
  height: 100vh;
    position: relative;
    z-index: 1000;
}
#footer{
    position: relative;
    z-index: 3000;
}

/* header */
#header {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    padding: 20px 0px 0px 25px;
    /* display: none; */
}
#header h1 {
    display: inline-block;
    font-weight: 300;
    margin-bottom: 18px;
    border-bottom: 1px dashed #fff;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.659);
    padding-bottom: 10px;
}
#header p {
    margin-bottom: 15px;
}
#header ul {}
#header li {
    display: inline-block;
}
#header li a {
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
}
#header li.active a{
    color: black;
    background-color: #fff;
}

#header li a:hover{
    background-color: #fff;
    color: black;
    transition: 0.25s;
}
#header li a:not(:hover){
    transition: 0.25s;
}


/* footer */
#footer {}
#footer .source {
    position: absolute;
    right: 20px;
    bottom: 20px;
    border-radius: 1px solid #fff;
    border-radius: 40px;
    padding: 10px 20px;
    font-size: 14px;
}


/* modal__wrap */
.modal__wrap {}
.modal__btn {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    display: inline-block;
    padding: 10px 20px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.modal__btn:hover{
    background-color: #fff;
    color: #33377d
}

.modal__cont {
    /* display: none; */
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.155);
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    visibility: hidden;
    transform: scale(0);
}

/* 요소를 안보이게 하는 방법
    1. display: none;       (애니메이션 x, 영역x)
    2. opacity: 0;          (애니메이션 o, 영역o)
    3. visibility: hidden;  (애니메이션 x, 영역x)
    4. width: 0; height: 0; (애니메이션 x, 영역x) : blind 효과
    5. transform: scale(0)  (애니메이션 o, 영역x)
*/

.modal__box {
    width: 80%;
    height: 50vh;
    border-radius: 0.6rem;
    box-shadow: 0 10px 20px -5px hsl(180deg 2% 10%);
    /* max-width: 800px;
    margin: 0 auto;
    height: 600px; */

    /* background-color: rgb(255, 255, 255); 블러 */

    /* position: relative;
    transform: scale(0); */
    /* overflow: hidden; */
}

.modal__box .title{
    padding-inline: 1rem;
    cursor: grab;
    background-color: hsl(236deg 16% 16%);
    display: flex;
    align-items: center;
    color: #fff;
    height: 50px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.modal__box .title .dot {
    width: 15px;
    height: 15px;
    background-color: hsl(180 2% 50%);
    display: inline-block;
    border-radius: 50%;
    position: relative;
    margin-left: 30px;
}

.modal__box .title .dot::before {
    content: '';
    position: absolute;
    left: 25px;
    top: 0;
    width: 15px;
    height: 15px;
    background-color: hsl(180 2% 50%);
    border-radius: 50%;
}
.modal__box .title .dot::after {
    content: '';
    position: absolute;
    right: 25px;
    top: 0;
    width: 15px;
    height: 15px;
    background-color: hsl(180 2% 50%);
    border-radius: 50%;
}

.modal__box .title .plus{
    background: hsl(236deg 15% 20%);
    padding: 0.5rem 0.5rem 0.3rem 0.5rem;
    border-radius: 0.5rem;
}

.modal__box .title .tabs {
    display: flex;
    margin-left: 50px;
}

.modal__box .title .tabs > div{
    color: hsl(322deg 78% 62%);
    background-color: hsl(236deg 15% 20%);
    padding: 0.35rem 0.8rem 0.25rem 0.8rem;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    border-radius: 0.4rem;
    text-transform: uppercase;
    cursor: pointer;
}

.modal__box .title .tabs > div.active{
    background-color: rgb(240, 36, 114);
    color: #fff;
}
.modal__box .title .tabs > div em {
    font-style: normal;
}

.modal__box .title .tabs > div .favicon {
    margin-right: 0.4rem;
    margin-top: 0.2rem;
}
.modal__box .title .tabs > div .close {
    margin-left: 5rem;

}


.modal__box .cont {
    background-color: hsl(236deg 15% 18% / 33%);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    height: 550px;
    box-sizing: border-box;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    overflow-y: auto;
    scrollbar-width: none;

    height: 100%; /*수정 */
}

/* 세로 스크롤 */
.modal__box .cont::-webkit-scrollbar {
    width: 4px;
    border-radius: 20px;
}

.modal__box .cont:hover::-webkit-scrollbar {
    opacity: 1;
}

.modal__box .cont::-webkit-scrollbar-thumb {
    background-color: hsl(337deg 87% 54%); /*스크롤바의 색상*/
    background-clip: padding-box;
}

.modal__box .cont::-webkit-scrollbar-track {
    background-color: transparent; /*스크롤바 트랙 색상*/
}

/* 가로 스크롤 */
.modal__box .cont .scroll::-webkit-scrollbar {
    height: 4px;
    border-radius: 20px;
}

.modal__box .cont .scroll:hover::-webkit-scrollbar {
    opacity: 1;
}

.modal__box .cont .scroll::-webkit-scrollbar-thumb {
    background-color: hsl(337deg 87% 54%); /*스크롤바의 색상*/
    background-clip: padding-box;
}

.modal__box .cont .scroll::-webkit-scrollbar-track {
    background-color: transparent; /*스크롤바 트랙 색상*/
}


.modal__box .cont > div {
    display: none;
}

.modal__box .cont > div.active {
    display: block;
    height: 100%;
}

.modal__close {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: #1f224a;
    padding: 1rem 1rem 0.8rem 1rem;
    border-radius: 5px;
    box-shadow: 0 5px 7px -5px rgba(25, 26, 26, 0.602);
    cursor: pointer;
    transition: all 0.25s;
    /* opacity: 0; */
    transform: scale(0);
}

.modal__close:hover{
    background-color: #33377d;
}

.modal__close svg{
    color: #fff;
}

/* 모달 애니메이션 */
.modal__cont.show{ /* 전체 배경 */
    visibility: visible;
    animation:  foldOut 1s ease forwards;
}

.modal__cont.show .modal__box {
    transform: scale(0);
    animation: zoomOut 0.5s 1s ease forwards; /*뒤에껀 딜레이*/
}

.modal__cont.show .modal__close { /* 닫기 배경 */
    animation:  foldOut 0.3s 1.5s ease backwards;
    transform: scale(1);
    /* opacity: 1; */
}


.modal__cont.show.hide{ /* 스크립트 배경 */
    animation:  foldIn 0.3s 0.9s ease backwards;
}

.modal__cont.show.hide .modal__box {
    transform: scale(1);
    animation: zoomIn 0.5s 0.3s ease forwards; /*뒤에껀 딜레이*/
    
}

.modal__cont.show.hide .modal__close { /* 닫기 배경 */
    transform: scale(0);
    animation: foldIn 0.5s ease backwards; /*뒤에s껀 딜레이*/
}


@keyframes foldOut {
    0% {transform: scaleX(0) scaleY(0.001);}
    50% {transform: scaleX(1) scaleY(0.001);}
    100% {transform: scaleX(1) scaleY(1);}
}

@keyframes foldIn {
    0% {transform: scaleX(1) scaleY(1);}
    50% {transform: scaleX(1) scaleY(0.001);}
    100% {transform: scaleX(0) scaleY(0.001);}
}

@keyframes zoomOut {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}

@keyframes zoomIn {
    0% {transform: scale(1);}
    100% {transform: scale(0);}
}

@media (max-width: 1100px){
    .modal__box .title{
        overflow: hidden;
    }
    .modal__box .title .dot{
        display: none;
    }

    .modal__box .title .tab{
        margin-left: 0;
    }
    .modal__box .title .tabs > div .close{
        display: none;
    }
}

@media (max-width: 800px){
    #header {
        text-align: center;
        width: 100%;
    }
    #header h1 {
        line-height: 1.4;
    }
    .modal__box {
        width: 96%;
    }

}
